.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

button.dt-button.buttons-excel.buttons-html5 {
    background: #ffc107;
    border-radius:  24px;
    border: none;
}
